@charset "utf-8";

/*모든 페이지에 들어가는 공통서식*/


body{
font-family: 'Noto Sans KR', sans-serif !important;
color:#fff;
font-size:12px;
background:#333;
background-image: url(../img/background.jpg);
background-size: 100%;
background-repeat: no-repeat;
}

a{text-decoration: none;
color:#333333;}

a:hover{
/*  text-decoration:underline;*/
}

.clearfix{
  clear: both;
}
.clearfix::after{
  content: "";
  clear: both;
  display: block;
}

