@charset "UTF-8";

@media screen and (max-width:1023px) {
/* html, body{
    
} */

body {
    background: #333;
    background-image: url(../img/background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 5;
    max-width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}





.img_wrap>img {
    position: absolute;
    z-index: 10;
    width: 88%;
}

.img_wrap>img:first-child {
    top: 350px;
    right: 0%;
}

.img_wrap>img:nth-child(2) {
    top: 340px;
    right: 0;
    opacity: 0.4;
}

.img_wrap>img:nth-child(3) {
    top: 355px;
    right: 12px;
    opacity: 0.2;
}


.brush_wrap {
    position: relative;
}

.brush_wrap>img {
    position: absolute;
}

.brush_wrap>img:first-child {
    top: -24px;
    left: -30%;
    width: 80%;
    transform: rotate(20deg);
    animation: scale01 0.5s linear 1;
}

@keyframes scale01 {
    0% {
        transform: scale(0) rotate(20deg);
        opacity: 0;
    }

    20% {
        transform: scale(0.2) rotate(20deg);
        opacity: 0.2;
    }

    40% {
        transform: scale(0.4) rotate(20deg);
        opacity: 0.4;
    }

    60% {
        transform: scale(0.5) rotate(20deg);
        opacity: 0.6;
    }

    80% {
        transform: scale(0.8) rotate(20deg);
        opacity: 0.8;
    }

    100% {
        transform: scale(1) rotate(20deg);
        opacity: 1;
    }
}

.brush_wrap>img:nth-child(2) {
    width:70%;
    left: -30%;
    top: 130px;
    animation: scale02 1.2s linear 1;
}

@keyframes scale02 {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    20% {
        transform: scale(0.2);
        opacity: 0.2;
    }

    40% {
        transform: scale(0.4);
        opacity: 0.4;
    }

    60% {
        transform: scale(0.5);
        opacity: 0.6;
    }

    80% {
        transform: scale(0.8);
        opacity: 0.8;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.brush_wrap>img:nth-child(3) {
    width: 80%;
    left: 20%;
    top: 30px;
    animation: scale03 2s linear 1;
}

@keyframes scale03 {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    20% {
        transform: scale(0.2);
        opacity: 0.2;
    }

    40% {
        transform: scale(0.4);
        opacity: 0.4;
    }

    60% {
        transform: scale(0.5);
        opacity: 0.6;
    }

    80% {
        transform: scale(0.8);
        opacity: 0.8;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}


.brush_wrap>img:nth-child(4) {
    width: 120%;
    left: 35%;
    top: 260px;
    animation: scale04 1.5s linear 1;
}

@keyframes scale04 {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    20% {
        transform: scale(0.2);
        opacity: 0.2;
    }

    40% {
        transform: scale(0.4);
        opacity: 0.4;
    }

    60% {
        transform: scale(0.5);
        opacity: 0.6;
    }

    80% {
        transform: scale(0.8);
        opacity: 0.8;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}


.brush_wrap>img:nth-child(5) {
    width: 90%;
    right:20%;
    top: 370px;
    animation: scale05 2.5s linear 1;
}

@keyframes scale05 {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    20% {
        transform: scale(0.2);
        opacity: 0.1;
    }

    40% {
        transform: scale(0.4);
        opacity: 0.2;
    }

    60% {
        transform: scale(0.5);
        opacity: 0.3;
    }

    80% {
        transform: scale(0.8);
        opacity: 0.8;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.text_wrap {
    position: absolute;
    width: 80%;
    top: 140px;
    left: 30px;
    font-family: 'Nanum Brush Script', cursive;
    color: #fff;
    z-index: 10;
    opacity: .9;
}

p.eng {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 500;
}

p.kor {
    font-size: 1.3rem;
    line-height: 1.4rem;
}

/* 

.text_wrap>span {
    font-size: 40px;
    border-right: 3px solid;
    animation: caret 0.5s steps(1) infinite;
    z-index: 999;
}


@keyframes caret {
    50% {
        border-color: transparent;
    }
}





.text_wrap>p {
    padding: 4px 42px;
} */


}