@charset "utf-8";

@media screen and (min-width:1024px) {

    .gggg{display: none;}
body {
    overflow: hidden;
    background: #333;
    background-image: url(../img/background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 5;
}


.popup_wrap {
    margin: 0 auto;
    position: relative;
}

.popup_text {
    min-width: 250px;
    width: 250px;
    min-height: 150px;
    position: absolute;
    padding: 15px 35px;
    border-radius: 50%;
    border: 1px solid #fff;
    line-height: 30px;
    top: 130px;
    left: 660px;
    z-index: 12;
}

.popup_chrome {
    position: absolute;
    top: 130px;
    left: 10px;
    letter-spacing: 4px;
    z-index: 12;
}

.popup_text p {
    clear: both;
    text-align: center;
    font-size: 20px;
    font-size: 14px;
    margin-top: 38px;

}

.popup_chrome,
.btn_close {
    color: #000;
}

.btn_close:hover {
    color: #d91900;
    font-weight: bold;
    transition: .5s;
}

.popup_text p a {
    color: #d91900;
    letter-spacing: 2px;
    font-weight: bold;
}


.popup_chrome {
    background: rgba(255, 255, 255, 0.6);
    color: #333;
    padding: 10px;
}

span.chrome {
    color: #ff0000;
    font-weight: bold;

}


section {
    width: 1280px;
    margin: 0px auto;
    position: relative;
}

article.keyword {
    display: block;
    z-index: 9999;
}


article>h3 {
    position: absolute;
    top: 200px;
    font-size: 78px;
    text-transform: uppercase;
    z-index: 10 !important;
    font-family: 'Nanum Brush Script', cursive;
}


.img_wrap>img {
    position: absolute;
    z-index: 10;
}

.img_wrap>img:first-child {
    top: 160px;
    right: 10px;
}

.img_wrap>img:nth-child(2) {
    top: 170px;
    right: 15px;
    opacity: 0.4;
}

.img_wrap>img:nth-child(3) {
    top: 165px;
    right: 12px;
    opacity: 0.2;
}


.brush_wrap {
    position: relative;
}

.brush_wrap>img {
    position: absolute;
}

.brush_wrap>img:first-child {
    top: 0px;
    left: -100px;
    width: 824px;
    transform: rotate(20deg);
    animation: scale01 0.5s linear 1;
}

@keyframes scale01 {
    0% {
        transform: scale(0) rotate(20deg);
        opacity: 0;
    }

    20% {
        transform: scale(0.2) rotate(20deg);
        opacity: 0.2;
    }

    40% {
        transform: scale(0.4) rotate(20deg);
        opacity: 0.4;
    }

    60% {
        transform: scale(0.5) rotate(20deg);
        opacity: 0.6;
    }

    80% {
        transform: scale(0.8) rotate(20deg);
        opacity: 0.8;
    }

    100% {
        transform: scale(1) rotate(20deg);
        opacity: 1;
    }
}

.brush_wrap>img:nth-child(2) {
    width: 600px;
    left: 300px;
    top: 100px;
    animation: scale02 1.2s linear 1;
}

@keyframes scale02 {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    20% {
        transform: scale(0.2);
        opacity: 0.2;
    }

    40% {
        transform: scale(0.4);
        opacity: 0.4;
    }

    60% {
        transform: scale(0.5);
        opacity: 0.6;
    }

    80% {
        transform: scale(0.8);
        opacity: 0.8;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.brush_wrap>img:nth-child(3) {
    width: 700px;
    left: 40px;
    top: 180px;
    animation: scale03 2s linear 1;
}

@keyframes scale03 {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    20% {
        transform: scale(0.2);
        opacity: 0.2;
    }

    40% {
        transform: scale(0.4);
        opacity: 0.4;
    }

    60% {
        transform: scale(0.5);
        opacity: 0.6;
    }

    80% {
        transform: scale(0.8);
        opacity: 0.8;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}


.brush_wrap>img:nth-child(4) {
    width: 760px;
    right: -170px;
    top: -40px;
    animation: scale04 1.5s linear 1;
}

@keyframes scale04 {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    20% {
        transform: scale(0.2);
        opacity: 0.2;
    }

    40% {
        transform: scale(0.4);
        opacity: 0.4;
    }

    60% {
        transform: scale(0.5);
        opacity: 0.6;
    }

    80% {
        transform: scale(0.8);
        opacity: 0.8;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}


.brush_wrap>img:nth-child(5) {
    width: 580px;
    right: -150px;
    top: 240px;
    animation: scale05 2.5s linear 1;
}

@keyframes scale05 {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    20% {
        transform: scale(0.2);
        opacity: 0.1;
    }

    40% {
        transform: scale(0.4);
        opacity: 0.2;
    }

    60% {
        transform: scale(0.5);
        opacity: 0.3;
    }

    80% {
        transform: scale(0.8);
        opacity: 0.8;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}



.text_wrap {
    position: absolute;
    width: 700px;
    padding-top: 300px;
    padding-left: 30px;
    font-family: 'Nanum Brush Script', cursive;
    color: #fff;
    z-index: 10;
    opacity: .9;
}

.text_wrap>span {
    font-size: 40px;
    border-right: 3px solid;
    animation: caret 0.5s steps(1) infinite;
    z-index: 999;
}


@keyframes caret {
    50% {
        border-color: transparent;
    }
}



p.eng {
    font-size: 50px;
    line-height: 54px;
    font-weight: 500;
}

p.kor {
    font-size: 24px;
    line-height: 30px;
}

.text_wrap>p {
    padding: 4px 42px;
}


footer{
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}

}