@charset "UTF-8";

h2 {
    text-transform: uppercase;
    color: #fff;
}
.display_none{display: none;}
h2.title {
    font-size: 50px;
    width: 1200px;
    float: left;
    margin-left: -1198px;
    margin-top: -100px;
    transform: rotate(-90deg);
    font-family: 'Do Hyeon', sans-serif;
    letter-spacing: 10px;
    font-weight: bold;
}


body {
    overflow-x: hidden;
    position: relative;
}

section {
    width: 120px;
    margin: 0px auto;
    padding-top: 120px;
}

article {
    width: 1200px;
    margin-left: -550px;
    padding: 50px 0px 100px 0px;
    line-height: 24px;
}

/*
        article>h2{
            font-size: 40px;
            padding-bottom: 20px;
            font-weight: bold;
        }
*/
.main_title {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    float: left;
    padding-left: 50px;
}

.main_paragraph {
    float: right;
    width: 800px;
}

p.ap {
    font-size: 80px;
    letter-spacing: -10px;
    margin-top: 56px;
}

p.equal {
    width: 50px;
    font-size: 80px;
    margin: -28px 172px 0px 0px
}

.logo_color {
    width: 200px;
    margin: -90px 0px 50px 760px;
}

.logo_color01 {
    width: 200px;
    margin: -234px 0px 78px 1032px;
}

.logo_white {
    width: 150px;
    margin-left: 400px;
    margin-top: -100px;
}

.concept_title {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
    width: 1000px;
    margin-left: -560px;
    padding: 10px 0px 50px 0px;
    font-family: 'Do Hyeon', sans-serif;
}

article.logo_design {
    height: 320px;
}
.logo_text{
        margin-left: 600px;
    margin-top: -100px;
}

article.portfolio_design {
    height: 200px;
}

article.portfolio_color {
    position: relative;
    height: 120px;
}

article.portfolio_color .main_paragraph{
    padding-top: 70px;
}

.color_wrap{
    position: absolute;
    left: 400px;
    width: 800px;
    height: 60px;
    background: rgba(255,255,255,.5);
}

.color_white, .color_black, .color_yellow{
    position: absolute;
    width: 200px;
    height: 30px;
    top: 4px;
}
.color_wrap p{
    position: absolute;
    top: 30px;
    left: 70px;
    letter-spacing: 2px;
}

.color_white{
    background: #fff;
    left: 80px;
}

.color_black{
    background: #000;
    left: 300px;
}

.color_yellow{
    background: #fff500;
    left: 520px;
    
}


.white_box {
    width: 800px;
    height: 200px;
    background: rgba(255, 255, 255, .2);
    float: right;
}



.white_box > ul {}

.white_box > ul > li {
    float: left;
}

.white_box > ul > li > img {
    width: 140px;
    padding: 28px 10px 28px 10px;
}


ul.wrap_font_dohyeon, .dohyeon{
    font-family: 'Do Hyeon', sans-serif;
}


ul.wrap_font_nanum, .nanum{
    font-family: 'Nanum Brush Script', cursive;
}

#nanum_wrap{
    padding-bottom: 140px;
}

.yellow {
    color: #ffff00;
    font-weight: 500;
}


article.portfolio_structure{
    height: 100px;
}

.typogrhapy{
    height: 60px;
}

.wrap_font>li{padding-bottom: 20px;
}
.wrap_font ul{padding: 20px 0px;}
.wrap_font>ul>li:nth-of-type(1){font-size: 48px;padding-bottom: 16px;}
.wrap_font>ul>li:nth-child(2){font-size: 36px;padding-bottom: 10px;}
.wrap_font>ul>li:nth-child(3){font-size: 24px;padding-bottom: 4px;}
.wrap_font>ul>li:nth-child(4){font-size: 12px;padding-bottom: 0px;}




