@charset "UTF-8";

@media screen and (max-width:1023px){

    section {
    }

    h2{display: none;}
    
    .container {
        width: 100%;
    }

    .tab_menu_item {
        margin-right: 2px;
        text-align: center;
    }
    
    .tab_menu_item:last-child {
        margin-right: 0;
    }
    
    .tab_menu_item_link {
        display: block;
        width: 95%;
        padding: 10px;
        background: #222;
        color: #fff;
        text-transform: capitalize;
        transition: .3s;
    }
    
    .tab_menu_item_link:hover,
    .tab_menu_item_link.is-active {
        background: #f4ea07;
        color: #000;
    }
    
    .tab_container {}
    
    .tab_content {
        padding: 20px;
        display: none;
    }
    
    .tab_content.is-active {
        display: block;
        animation: fade 0.5s ease;
    }
    
    @keyframes fade {
        from {
            opacity: 0;
        }
    
        to {
            opacity: 1;
        }
    }
    .img_wrap>li {
        float: left;
        margin: 1%;
        /* padding: 1%; */
        width: 48%;
        height: 250px;
        background: rgba(255,255,255,.1);
        /* background: #fff; */
        position: relative;
        box-sizing: border-box;
    }
    .img_wrap{
        width: 100%;
    }
    .img_wrap img {
        margin: 0px auto;
        width: 70%;
        box-sizing: border-box;
        position: absolute;
        left: 15%;
        top: 44px
    }
    
  

    p.caption{
        height: 100px;
        text-align: center;
        padding: 18px 2px 0 0;
        
    }

    .caption_title {
        font-weight: bold;
        font-size: 16px;
        line-height: 18px;
        
    }
    
    .caption_sub {
        font-size: 14px;
        padding: 0;
        position: absolute;
        bottom: 10px;
        left: 0;
        display: none;
    }
    /* 
    
    
    
  
    
    h2.title {
        text-transform: uppercase;
        font-size: 50px;
        width: 560px;
        float: left;
        margin-left: -320px;
        transform: rotate(-90deg);
        font-family: 'Do Hyeon', sans-serif;
        letter-spacing: 10px;
        font-weight: bold;
    }


    
    .caption {
        position: absolute;
        bottom: -120px;
        width: 100%;
        background-color: rgba(0, 0, 0, .7);
        transition: 0.5s;
        padding: 10px 2px;
    }
    
   
    
    .img_wrap>li:hover .caption {
        bottom: 0px;
    } */

}